//Write
.write {
  margin-top: 10px;
  display: grid;
  gap: 1%;
  width: 100%;

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    input {
      vertical-align: top;
      margin-left: 10px;
      padding: 10px;
      border: 1px solid #ababab;
      border-radius: 8px;
      width: 80%;
    }
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropbtn {
    margin-left: 10px;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    background-color: #efefef;
    font-weight: 500;
    width: 100px;
    text-align: left;
    cursor: pointer;
    font-size: 1rem;
    z-index: 1;
    position: relative;
  }
  .dropdown_content {
    position: absolute;
    overflow-x: hidden;
    z-index: 1;
    margin-left: 10px;
    font-weight: 400;
    background-color: #fcfcfc;
    min-width: 100px;
    border-radius: 8px;
    height: 160px;
    overflow: scroll;
    box-shadow: 0px 0px 10px 3px rgba(190, 190, 190, 0.6);
  }
  .dropdown_content::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }

  .dropdown_content div {
    display: block;
    text-decoration: none;
    color: rgb(37, 37, 37);
    font-size: 1rem;
    padding: 12px 0 0 20px;
    cursor: pointer;
  }

  .none {
    display: none;
  }
  .buttons {
    margin: 20px 0 30px;
    text-align: center;
    .btn {
      margin-right: 10px;
      color: #999;
      width: 105px;
      height: 45px;
      padding: 0;
      background-color: #fff;
      border: 1px solid #333;
      border-radius: 10px;
      &:hover {
        background-color: rgb(226, 226, 226);
      }
    }
  }
}

@media screen and (max-width: 412px) {
  //Write
  .write {
    min-width: 320px;
    max-width: 750px;
    padding-top: 55px;
    margin: 0 auto;

    .content {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      input {
        vertical-align: top;
        margin-left: 10px;
        padding: 10px;
        border: 1px solid #ababab;
        border-radius: 8px;
        width: 40%;
      }

      .editorContainer {
        height: 700px;
        overflow: scroll;
      }
      ::-webkit-scrollbar {
        width: 5px;
        height: 10px;
      }
    }

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropbtn {
      margin-left: 10px;
      padding: 12px 20px;
      border: none;
      border-radius: 8px;
      background-color: #efefef;
      font-weight: 500;
      width: 100px;
      text-align: left;
      cursor: pointer;
      font-size: 1rem;
      z-index: 1;
      position: relative;
    }
    .dropdown_content {
      position: absolute;
      overflow-x: hidden;
      z-index: 1;
      margin-left: 10px;
      font-weight: 400;
      background-color: #fcfcfc;
      min-width: 100px;
      border-radius: 8px;
      height: 160px;
      overflow: scroll;
      box-shadow: 0px 0px 10px 3px rgba(190, 190, 190, 0.6);
    }
    .dropdown_content::-webkit-scrollbar {
      width: 5px;
      height: 10px;
    }

    .dropdown_content div {
      display: block;
      text-decoration: none;
      color: rgb(37, 37, 37);
      font-size: 1rem;
      padding: 12px 0 0 20px;
      cursor: pointer;
    }

    .none {
      display: none;
    }
    .buttons {
      margin: 20px 0 30px;
      text-align: center;
      .btn {
        margin-right: 10px;
        color: #999;
        width: 105px;
        height: 45px;
        padding: 0;
        background-color: #fff;
        border: 1px solid #333;
        border-radius: 10px;
        &:hover {
          background-color: rgb(226, 226, 226);
        }
      }
    }
  }
}
