.single {
  position: relative;
  float: left;
  width: 100%;
  // height: 100%;
  border-right: 1px solid #aabbaa;
  // padding: 0 0 160px;
  box-sizing: border-box;
  .content {
    .wrap_inner_view {
      .view_post {
        border-top: solid 1px #aabbaa;

        .post_info {
          color: #999;
          font-size: 12px;
          margin-left: 1em;
          margin-bottom: 1em;
          .post_viewcount {
            margin-left: 10px;
          }
        }
      }
      .post_title {
        margin-left: 1em;
        padding-bottom: 5px;
        text-align: center;

        h3 {
          display: flex;
          font-size: 0.8em;
        }
        h1 {
          display: flex;
          font-size: 1.7em;
        }
      }
      .post_body {
        padding-left: 20px;
        padding-bottom: 25%;
        border-top: 1px solid #aabbaa;
      }
      .post_author {
        padding: 5px 20px;
        .edit {
          display: flex;
          gap: 5px;
          .single_pencil {
            color: rgb(0, 0, 0);
            padding-left: 25px;
          }
          .delete {
            cursor: pointer;
            color: rgb(0, 0, 0);
          }
          :hover {
            color: orangered;
          }
        }
        .username {
          color: #999;
          font-weight: bold;
        }
      }
    }
  }
}
